env
.idea
app.db
__pycache__
.terraform
.DS_Store
.vscode
.serverless

hippo-email-templates/templates/*.json


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
app/__pycache__/routes.cpython-39.pyc
app/__pycache__/models.cpython-39.pyc
app/__pycache__/forms.cpython-39.pyc
__pycache__/config.cpython-39.pyc

app/__pycache__/*
app/__pycache__/routes.cpython-39.pyc
app/__pycache__/models.cpython-39.pyc
app/__pycache__/forms.cpython-39.pyc
app/__pycache__/__init__.cpython-39.pyc
app/__pycache__/config.cpython-39.pyc
/infrastructure/.terraform.lock.hcl
