<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
<html>
    <head>
        <style>
            p    {color: black;}
            h1    {color: black;}
        </style>
        <h1>Eploy Importer Report Summary</h1>
    </head>
    <body>
        <p>Dear {{sendToName}},</p>
        </br>
        <p>{{numberOfEmployees}} have finished being imported to Bamboo.</p>
        <p>Please see the list of names below to see who has been imported.</p>
        <p>{{employeesImported}}</p>
        </br>
        <p>-- Eploy/Bamboo Importer Service</p>
    </body>
</html>