<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
<html>
    <head>
        <style>
            p    {color: black;}
            h1    {color: black;}
        </style>
        <h1>Reminder to complete your SDL Report</h1>
    </head>
    <body>
        <p>Dear {{sendToName}},</p>
        <p>Your reports for the following projects are delayed. Please complete them promptly:</p>
        {{#each project}}
                    &bull;    {{projectName}} | {{projectLink}}<br>
        {{/each}}
        <p>-- Hippo Project Knowledge Base</p>
    </body>
</html>
